# IntelliJ IDEA
.idea/
*.iml

# Maven
target/

# Maven Wrapper JAR
.mvn/wrapper/maven-wrapper.jar

#application.properties
src/main/resources/application.properties

# Logs
*.log
sql
# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear
*.nar

# OS Files
.DS_Store
Thumbs.db

# Crash Logs
hs_err_pid*
replay_pid*